menu,
ul,
li {
    margin: 0;
    padding: 0;
}

.sec {
    height: auto;
    padding: 0 5%;

    .sec-cont {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.button {
    cursor: pointer;
    display: block;
    border-radius: 4px;
    padding: 1em 2em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    border-width: 0;
    font-size: 1.1rem;

    &.primary {
        background-color: $c-brightred;
        color: white;

        &:hover {
            background-color: #90150d;
        }
    }

    &.secondary {
        background-color: $c-lightblue;
        color: $c-darkblue;

        &:hover {
            background-color: #36769D;
        }
    }
}

.tag-button {
    background-color: transparent;
    color: $c-lighterdarkblue;
    border: 2px solid $c-lighterdarkblue;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    padding: 3px 8px 4px 8px;

    /* display: inline-block; */

    &.selected {
        background-color: $c-blue;
        border: 2px solid $c-blue;
        color: white;
    }

    &:hover {
        background-color: $c-blue;
        border: 2px solid $c-blue;
        color: white;
        /* box-shadow: 0px 0px 4px $c-darkblue; */
    }

}

.rating {
    display: flex;
    gap: 0.5em;

    .rating-star {
        list-style-type: none;
        width: 1rem;
        height: 1rem;
        background-image: url('../../src/assets/star-empty.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &.active {
            background-image: url('../../src/assets/star.svg');
        }
    }

    .half-star {
        list-style-type: none;
        width: 1rem;
        height: 1rem;
        background-image: url('../../src/assets/half-star.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}