main {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    
    h1 {
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .filter-btn {
        display: block; //Chages to none onclick (default = "block")
        font-weight: 700;
        font-size: 1.1rem;
        padding: .8rem 2rem;
        font-size: 1rem;
        background-color: $c-lightblue;
        border: none;
        align-self: center;
        margin-bottom: 1rem;
        border-radius: .4rem;
        cursor: pointer;
    }
}

.filter{
    border-radius: 8px;
    box-shadow: 0px 0px 8px darkgray;
    width: 100%;
    height: auto;
    display: none;
    flex-direction: column;
    column-gap: 12rem;
    position: relative;

    .close-filter {
        top: 0;
        right: 0;
        position: absolute;
        display: block;
        width: 2rem;
        height: 2rem;
        margin: 1rem 1rem 0 0;
        background-image: url('./../../src/assets/close.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: invert(100%);
        cursor: pointer;
    }

    >section,.h2-filter-challenges {
        padding: 1rem;
        margin: 0;
    }
    .h2-filter-challenges {
        padding-bottom: 0;
    }

    .by-ctn {
        margin: 0;
        padding-bottom: 0;
        .part-one, .part-two, .part-three {
            margin-bottom: 2rem;
        }
        .part-one {
            h3 {
                /* margin-top: 0;
                padding: 0; */
            }
            form {
                label {
                    display: block;
                }
            }
        }
        
        .part-two {
            >div {
                display: flex;
                flex-direction: column;

                .rating {
                    height: 1rem;
                }
                
                p {
                    margin-left: 55px;
                    padding: .5rem 0 .4rem 0;
                }               
            }

            .rating-star {
                cursor: pointer;
            }

            p {
                margin: 0px;
            }
        } 
    }
    
    .part-three {

        .tag-button {
            margin: 3px 0;
        }
    }

    .search-cont {
        height: auto;
        padding-top: 0;

        h3 {
            margin-top: 0;
        }
        
        input {
            padding: 0.5rem 1rem;
            border-radius: .2rem;
            border: 1px solid $c-darkblue;
        }
    }
}

.challenges {
        
}
@media (min-width: $bp-medium) {  

    .filter {
        section.by-ctn{
            margin-top: 50px;
            display: flex;

            .part-one, .part-two, .part-three {
                width: 100%;
                padding: 0 1rem;
                display: flex;
                flex-direction: column;
            }
            
            .part-two {
                .container-stars {
                    flex-direction: row;
                    justify-content: space-evenly;
                }
                
                p {
                    margin: 0px 20px;
                    padding: 0px;
                }
            }
        }

        section.search-cont{
            align-self: center;

            .input-search-keyword{
                width: 89%;
            }
        }   
    }
}

.filter-no-match {
    margin-top: 100px;
    text-align: center;
}