main {
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-weight: 400;
        text-align: center;
    }
    
    h3 {
        font-size: 16px;
        margin: 0;
    }

    ul {
        list-style: none;

    }

    .filter-btn {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0.5rem 1rem;
        border: 2px solid $c-lightblue;
        color: $c-blue;
        background-color: transparent;
        cursor: pointer;
    }

    .filter {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        border: 1px solid $c-darkblue;
        border-radius: 4px;
        padding: 1rem;
        grid-gap: 0.5rem;
    }

    .h2-filter-challenges {
        grid-column: 1/2;
        font-size: 0.7rem;
        font-weight: 400;
    }

    .close-filter {
        grid-column: 6/7;
    }

    .h3-by-type {
        grid-row: 2/2;
        grid-column: 1/2;
    }

    .form-by-type {
        grid-column: 1/3;
        grid-row: 3/3;
        font-size: 16px;
        display: flex;
        flex-direction: column;
    }

    .h3-by-rating {
        grid-column: 3/4;
    }

    .max-rating {
        grid-column: 3/3;
        grid-row: 3/3;
    }

    .p-to {
        grid-column: 4/4;
        grid-row: 3/3;
        margin: 0;
        text-align: center;
        font-size: 16px;
    }

    .min-rating {
        grid-column: 5/5;
        grid-row: 3/3;
    }

    .h3-by-tags {
        grid-column: 5/7;
    }

    .h3-search-keyword {
        grid-column: 3/6;
        grid-row: 4/4;
    }

    .input-search-keyword {
        grid-column: 3/5;
        grid-row: 6/6;
        height: 2rem;
    }
}

