footer {
    background-color: $c-darkblue;
    color: white;
    
    .sec-cont {padding: 6rem 0;}
    h2 {font-size: 16px}
    a, p{font-size: 14px}
    p {margin: 0;}
    a {
        color: white;
        text-decoration: none;
        &:hover {color: $c-lightblue;}
    }


    .footer-summary {
        >h2 {
            margin-top: 0;
        }
    }

    .footer-summary, .footer-sitemap {
        margin-bottom: 3rem;
    }

    li {
        list-style-type: none;
    }

    .misc-link + .play-link {
        margin-top: 1em;
    }


}

@media (min-width: $bp-large) {
    footer {
        .sec-cont {padding: 10rem 0;}

        h2 {font-size: 20px}
        a, p{font-size: 18px}
        
        .sec-cont {
            display: flex;
            justify-content: space-between;
        }

        .footer-summary {
            width: 60%;
            margin: 0;
        }

        .footer-sitemap, .footer-social {
            width: auto;
            margin: 0;
        }
    }
}